
#store_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    max-width: 96%;
    margin:0 auto;
    margin-top: 3rem;
    padding: 0 40px;
}
#cart_section {
    margin-top: 0.3rem;
}
@media screen and (max-width: 768px) {
    #store_container {
        flex-direction: column;
        align-items: stretch;
        overflow: hidden;
    }
    #cart_section {
        width: 85vw;
        position: relative;
        right: 1.5rem;
        padding: 1rem 0;
        height: auto;
    }
}