
#filters {
    /* margin-top: 2rem; */
    width: 20vw;
    max-height: 90vh;
    height: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px; */
    border-radius: 12px;
    line-height: 0.8;
}
h2 {
    font-weight: normal;
}
input {
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin: 0.8rem 0;
}
.container {
   max-width: 88%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost  div{
    display: flex;
    gap: 0 15px;
    font-size: 1rem;
}

.color-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.design-templates div{
    display: flex;
    gap: 0 15px;
    font-size: 1rem;
}

.type div {
    display: flex;
    gap: 0 15px;
    font-size: 1rem;
}

.filter-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: inherit;
    font-weight: 800;
}
.btn-div {
    padding: 20px;
    /* position: relative; */
    /* bottom: 30px; */
}
.color-container input {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    display: none;
    z-index: 1;
}

.color-container div.black-bg {
    background-color: black;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    cursor: pointer;
}

.color-container div.brown-bg {
    background-color: #5a3b2c;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    cursor: pointer;
    
}

.color-container div.grey-bg {
    background-color: grey;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    cursor: pointer;

}

.color-container div.white-bg {
    background-color: #ececee;
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    cursor: pointer;

}

.color-container .color-option::before {
    content: '\2714';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: red;
    font-size: 2rem;
    /* padding: 0 6px 0 0; */
    opacity: 0;
}

.color-container .color-option.selected::before {
    opacity: 1;
}


   @media screen and (max-width: 768px) {
    #filters {
      width: 100%;
      height: auto;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
      position: relative;
      right: 1rem;
    }
  
    .container {
      max-width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column; 
    }
  
    h2 {
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 12px;
      margin: 0.2rem 0;
    }
  
    input[type="checkbox"] {
      height: 16px;
      width: 16px;
      margin: 0.2rem 0;
    }
  
    .color-container {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  
    .color-container div {
      width: 30px;
      height: 30px;
      margin: 0rem 0.5rem;
    }
  
    .btn-div {
      padding: 10px 0;
    }
  
    .color-container div.black-bg {
      background-color: black;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  
    .color-container div.brown-bg {
      background-color: #5a3b2c;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  
    .color-container div.grey-bg {
      background-color: grey;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  
    .color-container div.white-bg {
      background-color: #ececee;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }